[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "==2.13.0"







[dev-packages]

coveralls = "*"
"pytest-watch" = "*"
"pytest-testmon" = "*"


[requires]
python_version = "3.7"