[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
httpx = {extras = ["http2"], version = "~=0.23"}

[dev-packages]
coveralls = "*"
"pytest-watch" = "*"
"pytest-testmon" = "*"
sphinx = "*"

[requires]
python_version = "^3.6"
